<%= form_for(@bill_table) do |f| %>
  <% if @bill_table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill_table.errors.count, "error") %> prohibited this bill_table from being saved:</h2>

      <ul>
      <% @bill_table.errors.full_messages.each do |message| %>
        <div class="alert alert-info" role="alert">
          <li><%= message %></li>
        </div>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="panel panel-default">
  <!-- Default panel contents -->
<div class="panel-heading">新建账单:</div>
  <div class="panel-body">
  <table class="table">
    <tr>
      <td><%= f.label :"comment/备注" %></td>
      <td><%= f.text_field :comment, :value => "client" %></td>
    </tr>
    <tr>
      <td><%= f.hidden_field :total_price, :value => 0 %></td>
      <td><%= f.submit class:"btn btn-primary"%></td>
    </tr>
  </table>
  </div>
</div>
<% end %>
