<h1>Listing bill_tables</h1>

<table>
  <thead>
    <tr>
      <th>Total price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bill_tables.each do |bill_table| %>
      <tr>
        <td><%= bill_table.total_price %></td>
        <td><%= link_to 'Show', bill_table %></td>
        <td><%= link_to 'Edit', edit_bill_table_path(bill_table) %></td>
        <td><%= link_to 'Destroy', bill_table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bill table', new_bill_table_path %>
