<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <div class="alert alert-info" role="alert">
          <li><%= message %></li>
        </div>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="panel panel-default">
  <!-- Default panel contents -->
<div class="panel-heading">产品信息:</div>
  <div class="panel-body">
  <table class="table">
   <tr>
    <td><%= f.label :code_id %></td>
    <td><%= f.text_field :code_id %></td>
   </tr>
   <tr>
    <td><%= f.label :price %></td>
    <td><%= f.text_field :price %></td>
   </tr>
   <tr>
    <th><%= f.label :name %></td>
    <td><%= f.text_field :name %></td>
   </tr>
    <td></td>
    <td><%= f.submit class:'btn btn-primary' %></td>
  </table>
</div>
</div>
<% end %>
